* {
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto total */
}

body{
    margin: 0; /*Porque el body trae un margin por defecto*/
    padding: 0;
    display: flex;
    min-height: 100vh; /*requisito para pedirle al footer que se coloque debajo del body*/
    background-color:  #220526; /*Color P4 del Figma*/
    justify-content: center;
    align-items: center;
    position: relative;
}
 /*ES EL DIV CONTENEDOR QUE HACE REFERENCIA A LA BURBUJA TRANSPARENTE HORIZONTAL*/
.aqua{
    width: 30vw;
    padding: 2vh;
    border-radius: 5vw;
    box-shadow: inset 0 10px 5px  rgba(0,0,0,0.075), /* Sombra interna hacia abajo */
    0 15px 8px rgba(0,0,0,0.05),                     /* Sombra externa hacia abajo */
    0 15px 8px rgba(0,0,0,0.05),                     /* Sombra externa hacia abajo */
    inset 0 -10px 15px #69396F;            /* Sombra interna inferior hacia arriba desde */
}

/*BARRA CENTRAL CRECIENTE DE COLOR CELESTE*/
.percent-bar{
    position: relative;
    display: block;
    width: 0%;
    height: 3vh;
    opacity: 0.8;
    background:#12D4A2;
    border-radius: 5vw;
}


/*BURBUJA PEQUEÑA SUPERIOR(DE %) QUE VA DE IZQUIERDA(0%) A DERECHA(100%)*/
.number{
    position: absolute;                                /*este absolute se debe a que es elemento hijo del percent-bar*/
    top: -84px;
    right: -65px;
    padding: 10px 15px;
    color: #12D4A2;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    box-shadow: inset 0 10px 5px  rgba(0,0,0,0.075),
    0 15px 8px rgba(0,0,0,0.05),
    0 10px 15px rgba(0,0,0,0.05),
    inset 0 -10px 15px #69396F; /* color anterior rgb(158, 46, 173)*/
}


/*LOGO DE LA PAGINA QUE APARECE DESPUES DEL LOADING*/
#atari-logo{
    position:absolute;
    visibility: none;
    opacity: 0;
    transition: 3s;
    height: 25%;
    width: 25%;
}

/*CLASE QUE SE COLOCA DESDE EL JS, PARA ACTIVAR LA VISIBILIDAD DEL LOGO
QUE SE ENCUENTRA OCULTO DURANTE EL PROCESO DE LOADING*/
#atari-logo.cambio{
    opacity :0.5;
    visibility: visible;
    position: absolute;
    z-index: 2;
}



body.cambio-fondo::before {
    content: ''; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/loading/sala-de-maquinas.jpg'); /* Imagen de fondo */
    background-size: cover; /* La imagen cubre todo el fondo */
    background-position: center; /* Centro la imagen en el fondo */
    background-repeat: no-repeat; /* La imagen no se repite */
    opacity: 0.5; /* Ajusta la opacidad de la imagen */
    z-index: 0; /* La coloco debajo del contenido */
}

body.cambio-fondo::after {
    content: ''; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 5, 38, 0.7); /* Color con opacidad */
    z-index: 1; /* Coloco el color del background por encima de la imagen */
}
/*
#amarillo{
    background-color: yellow;
   
   
    width: 25vw;
    margin-top: 10%;
    
    transition: width 4s;
}

#amarillo.cambio{
    width: 100vw;
}
*/